[submodule "gym-pybullet-drones"]
	path = gym-pybullet-drones
	url = git@github.com:hany606/gym-pybullet-drones.git
	branch = master
[submodule "gym-peg-drones"]
	path = gym-peg-drones
	url = git@github.com:hany606/gym-peg-drones.git
	branch = main
[submodule "2D/gym-predprey"]
	path = 2D/gym-predprey
	url = git@github.com:hany606/gym-predprey.git
	branch = main
[submodule "2D/evorobotpy2"]
	path = 2D/evorobotpy2
	url = git@github.com:snolfi/evorobotpy2.git
[submodule "Drones/gym-predprey-drones"]
	path = Drones/gym-predprey-drones
	url = git@github.com:hany606/gym-predprey-drones.git
	branch = main
