[submodule "gym-pybullet-drones"]
	path = gym-pybullet-drones
	url = git@github.com:hany606/gym-pybullet-drones.git
	branch = master
[submodule "gym-peg-drones"]
	path = gym-peg-drones
	url = git@github.com:hany606/gym-peg-drones.git
	branch = main
[submodule "simple/gym-moving-dot"]
	path = simple/gym-moving-dot
	url = git@github.com:mrahtz/gym-moving-dot.git
[submodule "2D/evorobotpy2/evorobotpy2"]
	path = 2D/evorobotpy2/evorobotpy2
	url = git@github.com:snolfi/evorobotpy2.git
